<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Admin Portal</a>
  <div class="collapse navbar-collapse">
    <span class="navbar-text">
      service for admins of TicketsOnline app
    </span>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="user">
      <a class="nav-link" routerLink="/menu">Menu</a>
    </li>
    <li class="nav-item" *ngIf="user">
      <a class="nav-link" routerLink="/account">Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!user" routerLink="/">Log in</a>
      <a class="nav-link" *ngIf="user" (click)="logOut()">Log out</a>
    </li>
  </ul>
</nav>
