body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}

.logo-img {
  margin-right: 10px !important;
}

.top-indent {
  margin-top: 30px;
}

.div-load-img {
  margin-top: 30px;
}

.film-item {
  margin-bottom: 10px;
  max-width: 800px;
}

.navbar-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form-danger {
  margin-top: 10px;
}

.validation-error-text {
  color: red;
}

.search-bar {
  margin-top: 20px;
}

.search-bar__select {
  margin-left: 10px;
  width: 150px;
  height: 40px;
}

.search-bar__input {
  margin-left: 10px;
  width: 150px;
  height: 40px;
  color: black;
}

.reset-btn {
  margin-left: 10px;
}

.margin-top-indent {
  margin-top: 40px;
}

.place-info {
  margin-top: 20px;
}

.order-ticket-btn {
  margin-top: 10px;
  width: 100px;
}

.hall-container {
  margin-top: 50px;
}

.alert-secondary__hall-scheme {
  background-color: #f8f9fa;
  padding-top: 15px;
  color: black;
}

.ticket-info__paragraph {
  margin: 0;
  padding: 0;
}

.hall-model__header {
  margin-bottom: 30px;
}

.services-price-text {
  margin-top: 20px;
}

.badge-for-service {
  background-color: #71c485;
}

.ticket-info-alert {
  margin-top: 30px;
  background-color: whitesmoke !important;
}

.ticket-info-btn {
  margin-right: 10px;
}

.navbar {
  padding-bottom: 20px;
  padding-top: 20px;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand:hover {
  color: white;
  text-decoration-line: underline;
}

.my-tickets-btn {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.my-tickets-btn:hover {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.my-tickets-btn a {
  color: white;
}

.user-name-nav {
  margin-right: 10px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 14px;
  margin-right: 40px;
}

.user {
  font-size: 18px;
}

.filters-row {
  padding: 10px;
}

.card {
  width: 20rem;
  cursor: pointer;
  margin: 10px;
}

.card:hover {
  background-color: whitesmoke;
}

.alert-secondary__hall-scheme {
  background: transparent;
}

.alert-light {
  color: black;
  background: transparent;
}
